DATABASE_URL=postgresql://canchat:canchatpass@localhost/canchatdb
ALLOWED_EMAILS=admin@example.com,manager@example.com,john.doe@example.com
ALLOWED_ROLES=user,pending,analyst,global_analyst
APP_ENV=dev